<!DOCTYPE html>
<!-- 
  Created by: Jose Sonhy
  Date: 19/08/2021
-->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Jose Sonhy" />
    <title>City Farmer Home Page</title>
  </head>

  <body>
    <!-- 
      ===HEADER===
      masthead representing the header for the whole page 
      Typically, the page header includes the site's logo, the main navigation,
      other global links, and possibly even a search box
    -->
    <header>
      <p>City Farmer</p>
      <!-- Company Name -->
      <p>... today's urban cowboys</p>
      <!-- Company tagline -->
      <!-- Add Company Logo here -->
    </header>

    <!--
      ===MAIN NAVIGATION===
      Links in a nav may point to content within the page, to other pages 
      or resources, or both. Whatever the case maybe, use nav only for the
      the page's most important groups of links, not all of them.
    -->
    <nav>Products &nbsp; Order &nbsp; News &nbsp; Events &nbsp;</nav>

    <!--
      ===MAIN CONTENT===
      The main element surrounds the content for the page's central topic.
      It's good practice to include role="main" in the main start tag.
      Main must be used only once on each page. Do not place main inside an
      article, aside, footer, header, or na element.
      The role="main" attribute-value pair can help screen readers locate
      the main content of the pages.
    -->
    <main id="main">
    </main><!-- end main -->

    <!--
      ===DOCUMENT FOOTER===
      The part of a page that often contains a copyright notice and maybe links
      to a privacy policy and the like, but can also be used elsewhere.
      It represents a footer for the nearest article, aside, blockquote,
      body, details, fieldset, figure, nav, section, or td element in which
      it is nested. I's the footer for the whole page only when its nearest
      ancestor from that list of elements in the body.
    -->
    <footer>
      <p>
        &copy; Copyright 2021 <br />
        feedback@cityfarmer.com
      </p>
    </footer>
  </body>
</html>
